@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambo&display=swap');

[class*="css-10trblm e16nr0p30"] {
  font-family: 'Roboto', sans-serif;
  font-size: 78px;
  font-weight: 200;
}

/*
[class*="css-1fv8s86 e16nr0p34"] {
  font-family: 'Cambo', serif;
  font-size: 42px;
  top:-100px;
} */

/* p [class*="css"] {
  font-family: 'Roboto', sans-serif;
  font-weight: 24px;
  font-weight: 200;
  color:orange;
} */

/* .button {
  background-color: #4CAF50; Green
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
*/
